.btn {
    height: 36px;
    min-width: 80px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 16px;
    color: #FFFFFF;
    background-color: #50B83C;
    border: unset;
    border-radius: 4px;
}

.btn:hover {
    background-color: #6BC18D;
}

.s-btn-number {
    height: 24px;
    width: 24px;
}

.btn-cancel-att,
.btn-save-att {
	border:1px solid #000;
	color: #000;
	background-color: #fff;
}