@import url(./layout/container.css);
@import url(./layout/header.css);
@import url(./base/icon.css);
@import url(./layout/nav.css);
@import url(./layout/page.css);
@import url(./base/button.css);
@import url(./base/input.css);
@import url(./base/table.css);
@import url(./base/text.css);
@import url(./base/dialog.css);

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    min-width: 1366px;
    min-height: 100vh;
    font-size: 14px;
}


* {
    font-family: roboto;
}

@font-face {
    font-family: roboto;
    src: url(../assets/font/Roboto-Regular.ttf);
}